<!DOCTYPE html>
<html>
<head>
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
<title>APDCEvaluation</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<meta charset="utf-8">
<link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/p
ure/0.6.2/pure-min.css">

<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- map css -->
<link rel="stylesheet" href="/css/hellomap.css">
<!-- angularjs -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</html>

</head>
<body ng-app="app" ng-controller="HomeController as homeCtrl">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">MappingUs</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/html/about.html"><span
							class="glyphicon glyphicon-user"></span> About author</a></li>
					<li><a ng-click="logOut()"><span
							class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<!-- angular app -->
	<script type="text/javascript" src="/js/controllers/app.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCk3o_VbwB2Ja6GtHZvlHs7-M_aQn-gOtQ"></script>
		<div class="row" ng-controller="MapController">
			<div class="col-xs-6">
				<button type="button" class="btn btn-primary">My Address</button>
				<button type="button" class="btn btn-primary">All users addresses</button>
			</div>
			<div class="col-xs-6">
				<input type="text" name="search" placeholder="Search by username...">
			</div>
		</div>
		<div ng-controller="MapController" id="map_div"></div>
		
		
		


</body>
<!-- jQuery 2.2.3 -->
<script src="/js/libs/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/js/libs/bootstrap.min.js"></script>



