<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>APDCEvaluation</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" type="text/css" href="/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/css/blue.css">
  <!-- angularjs -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body  class="hold-transition login-page" >
<div ng-app="app" class="login-box">
  <div class="login-logo">
    <a href="/StaticContents/html/index2.html"><b>APDC</b>BernardoBrito</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body" ng-controller="LoginController">
    <p class="login-box-msg">Sign in to start your session</p>

    <form name="login" ng-submit="submit()">
      <div class="form-group has-feedback" ng-class="{ 'has-error' : login.username.$invalid && login.username.$touched }">
        <input type="text" class="form-control" name = "username" ng-model="username" placeholder="Username" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <p ng-show="login.username.$touched && login.username.$invalid" class="help-block">Your username is required.</p>
      </div>
      <div class="form-group has-feedback" ng-class="{ 'has-error' : login.password.$invalid && login.password.$touched }">
        <input type="password" class="form-control" name="password" ng-model="password" placeholder="Password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <p ng-show="login.password.$touched && login.password.$invalid" class="help-block">Your password is required.</p>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <input type="submit" ng-disabled="login.$invalid" class="btn btn-primary btn-block btn-flat" value ="Sign In">
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a href="/html/register.html" class="text-center">Register a new membership</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 2.2.3 -->
<script src="/js/libs/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/js/libs/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="/js/libs/icheck.min.js"></script>
<!-- login form request -->
<!-- <script src="/js/controllers/login.js"></script> -->
<script type="text/javascript" src="/js/controllers/app.js"></script>

<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
</html>
