<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>APDC | Registration Page</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/css/AdminLTE.min.css">
<!-- iCheck -->
<link rel="stylesheet" href="/css/blue.css">
<!-- app -->
	<link rel="stylesheet" href="/css/hellomap.css">
<!-- angularjs -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition register-page">
	<div ng-app="app" class="register-box">
		<div class="register-logo">
			<a href="/home.html"><b>APDC</b>BernardoBrito</a>
		</div>

		<div class="register-box-body" ng-controller="RegisterController">
			<p class="login-box-msg">Register a new membership</p>

			<form name="register" ng-submit="submit()">
				<div class="form-group has-feedback"
					ng-class="{ 'has-error' : register.username.$invalid && register.username.$touched }">
					<input limit-to="20" type="text" class="form-control"
						name="username" ng-model="username" placeholder="Username"
						ng-minlength="3" ng-maxlength="20" required> <span
						class="glyphicon glyphicon-user form-control-feedback"></span>
					<p ng-show="register.username.$error.minlength" style="color: red"
						class="help-block">Username is too short.</p>
					<p
						ng-show="register.username.$touched && register.username.$invalid"
						style="color: red" class="help-block">Your username is
						required.</p>
				</div>
				<div class="form-group has-feedback"
					ng-class="{ 'has-error' : register.name.$invalid && register.name.$touched }">
					<input type="text" class="form-control" name="name" ng-model="name"
						placeholder="Full name" required> <span
						class="glyphicon glyphicon-user form-control-feedback"></span>
					<p ng-show="register.name.$touched && register.name.$invalid"
						style="color: red" class="help-block">Your name is required.</p>
				</div>
				<div class="form-group has-feedback"
					ng-class="{ 'has-error' : register.email.$invalid && register.email.$touched }">
					<input type="email" class="form-control" name="email"
						ng-model="email" placeholder="Email" required> <span
						class="form-control-feedback"></span>
					<p ng-show="register.email.$touched && register.email.$invalid"
						style="color: red" class="help-block">Enter a valid email.</p>
				</div>
				<div class="form-group has-feedback"
					ng-class="{ 'has-error' : register.mobileNumber.$invalid && register.mobileNumber.$touched }">
					<input limit-to="9" type="number" class="form-control"
						name="mobileNumber" ng-model="mobileNumber"
						placeholder="Mobile number" ng-minlength="9" required> <span
						class="glyphicon glyphicon-phone form-control-feedback"></span>
					<p ng-show="register.mobileNumber.$error.minlength"
						style="color: red" class="help-block">Mobile number requires 9
						digits.</p>
					<p
						ng-show="register.mobileNumber.$touched && register.mobileNumber.$invalid"
						style="color: red" class="help-block">Your phone number is
						required.</p>
				</div>
				<div class="form-group has-feedback"
					ng-class="{ 'has-error' : register.telephoneNumber.$invalid && register.telephoneNumber.$touched }">
					<input limit-to="9" type="number" class="form-control"
						name="telephoneNumber" ng-model="telephoneNumber"
						placeholder="Telephone number" ng-minlength="9" required> <span
						class="glyphicon glyphicon-phone form-control-feedback"></span>
					<p ng-show="register.telephoneNumber.$error.minlength"
						style="color: red" class="help-block">Telephone number requires 9
						digits.</p>
					<p
						ng-show="register.telephoneNumber.$touched && register.telephoneNumber.$invalid"
						style="color: red" class="help-block">Your telephone number is
						required.</p>
				</div>
				<div class="form-group has-feedback"
					ng-class="{ 'has-error' : register.nif.$invalid && register.nif.$touched }">
					<input limit-to="9" type="number" class="form-control" name="nif"
						ng-model="nif" placeholder="NIF" ng-minlength="9" required>
					<span class="form-control-feedback"></span>
					<p ng-show="register.nif.$error.minlength" style="color: red"
						class="help-block">NIF requires 9 digits.</p>
					<p ng-show="register.nif.$touched && register.nif.$invalid"
						style="color: red" class="help-block">Your NIF number is
						required.</p>
				</div>
				<div class="form-group has-feedback"
					ng-class="{ 'has-error' : register.cc.$invalid && register.cc.$touched }">
					<input limit-to="8" type="number" class="form-control" name="cc"
						ng-model="cc" placeholder="CC number" ng-minlength="8" required>
					<span class="form-control-feedback"></span>
					<p ng-show="register.cc.$error.minlength" style="color: red"
						class="help-block">CC requires 8 digits.</p>
					<p ng-show="register.cc.$touched && register.cc.$invalid"
						style="color: red" class="help-block">Your CC number is
						required.</p>

				</div>
				<div class="form-group has-feedback">
					<input type="password" class="form-control" name="password"
						ng-model="password" placeholder="Password" required> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback"
					ng-class="{ 'has-error' : register.confirmation.$error.passwordVerify }">
					<input type="password" class="form-control" name="confirmation"
						ng-model="confirmation" placeholder="Retype password"
						data-password-verify="password" required> <span
						class="glyphicon glyphicon-log-in form-control-feedback"></span>
					<p ng-show="register.confirmation.$error.passwordVerify"
						style="color: red" class="help-block">Fields are not equal!</p>
				</div>
				<p>
					<b>Address</b>
				</p>
				<div class="form-group has-feedback"
					ng-class="{ 'has-error' : register.city.$invalid && register.city.$touched }">
					<input type="text" class="form-control" name="city" ng-model="city"
						placeholder="City" required> <span
						class="form-control-feedback"></span>
					<p ng-show="register.city.$touched && register.city.$invalid"
						style="color: red" class="help-block">Your city is required.</p>
				</div>
				<div class="form-group has-feedback"
					ng-class="{ 'has-error' : register.street.$invalid && register.street.$touched }">
					<input type="text" class="form-control" name="street"
						ng-model="street" placeholder="Street" required> <span
						class="form-control-feedback"></span>
					<p ng-show="register.street.$touched && register.street.$invalid"
						style="color: red" class="help-block">Your street is required.</p>
				</div>
				<div class="form-group has-feedback"
					ng-class="{'has-error': !register.zipCode.$valid && register.zipCode.$touched}">
					<input type="text" class="form-control" name="zipCode"
						ng-model="zipCode" placeholder="Zip code"
						ng-pattern="/^(\d{4}-\d{3})$/" required> <span
						class="form-control-feedback"></span>
					<p
						ng-show="register.zipCode.$touched && register.zipCode.$error.pattern"
						style="color: red" class="help-block">Please enter proper Zip
						Code.</p>
				</div>
				<div class="form-group has-feedback">
					<input type="text" class="form-control" name="addressExtras"
						ng-model="addressExtras" placeholder="Address extras"> <span
						class=" form-control-feedback"></span>
				</div>

				<div class="row">
					<div class="col-xs-8">
						<a href="/html/login.html" class="text-center">I already have
							a membership</a>
					</div>

					<div class="col-xs-4">
						<input type="submit" ng-disabled="register.$invalid"
							class="btn btn-primary btn-block btn-flat" value="Register">
					</div>
				</div>

			</form>



		</div>
		<!-- /.form-box -->
	</div>
	<!-- /.register-box -->

	<!-- jQuery 2.2.3 -->
	<script src="/js/libs/jQuery/jquery-2.2.3.min.js"></script>
	<!-- Bootstrap 3.3.6 -->
	<script src="/js/libs/bootstrap.min.js"></script>
	<!-- iCheck -->
	<script src="/js/libs/icheck.min.js"></script>

	<script type="text/javascript" src="/js/controllers/app.js"></script>

	<script>
  $(function () {
    $('register').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
</html>
