<!DOCTYPE html>
<html>
<head>
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	<title>APDCEvaluation</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/pure/0.6.2/pure-min.css">

	<!-- Bootstrap 3.3.6 -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- map css -->
	<link rel="stylesheet" href="/css/hellomap.css">
	<!-- angularjs -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>
<body ng-app="app" >
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">MappingUs</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
    <div ng-controller="HomeController" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="/html/home.html"><span class="glyphicon glyphicon-home"></span> Home</a>
				</li>
				<li>
					<a ng-click="logOut()"><span class="glyphicon glyphicon-log-out"></span> Logout</a> 
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<div class="about-me clearfix" id="about-me">
  <div class="container">
				<div class="row">
					<!-- Profile Pic -->
					<div class="my-pic center col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-offset="200" style="visibility: visible; animation-duration: 0.5s; animation-name: fadeInUp;">
						<img src="/img/pic.png" alt="my profile">
					</div>
					<div class="introduction col-sm-8 col-xs-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-offset="200" style="visibility: visible; animation-duration: 0.5s; animation-name: fadeInUp;">
						<h2 class="h2">Bernardo Brito</h2>
						<div class="heading-line"></div>
						<p class="introduce">student</p>
						<p class="intro">Currently in the fourth year of a master's degree in Computer Engineering at the Faculty of Sciences and Technologies of the Universidade Nova de Lisboa.</p>
					</div>
				</div>
				<div class="row">
					<div class="profile col-sm-4 col-xs-12 wow fadeInUp text-center" data-wow-duration="0.5s" data-wow-offset="200" style="visibility: visible; animation-duration: 0.5s; animation-name: fadeInUp;">
						<h3>personal info</h3>
						<div class="heading-line"></div>
						<div class="personal-wrapper">
							<span><strong>name: </strong>Bernardo Mendes Pereira de Oliveira Brito</span>
							<span><strong>E-mail: </strong>b.brito@campus.fct.unl.pt</span>
							<span><strong>phone number: </strong>+(351) 919 832 354</span>
						</div>
					</div>
				</div>
			</div>
</div>
</body>
<!-- jQuery 2.2.3 -->
<script src="/js/libs/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/js/libs/bootstrap.min.js"></script>
<!-- angular app -->
<script type="text/javascript" src="/js/controllers/app.js"></script>

</html>
