#map_div {
height: 70%;
width: 100%;
}

html, body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.heading-line {
    height: 3px;
    width: 200px;
    background: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
}

.about-me .my-pic, .about-me .introduction {
    margin-bottom: 20px;
    margin-top: 20px;
}


.center {
    text-align: center;
}

.about-me .my-pic img {
    border-radius: 50%;
    border: 2px solid #dedede;
    background: #fff;
    padding: 7px;
    box-shadow: 0 7px 10px #999;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.h2 {
    font-size: 3.3rem;
    text-transform: uppercase;
    margin: 0 auto;
    letter-spacing: 1.6px;
}

.about-me h3 {
    font-size: 2.2rem;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #333;
    font-weight: bolder;
}

.about-me .introduction p.introduce {
    text-transform: uppercase;
}

.about-me .introduction p {
    color: #555;
    font-weight: 300;
    margin: 0 auto;
    letter-spacing: 1.6px;
}

.about-me .introduction p.intro {
    margin-top: 20px;
}

.about-me .personal-wrapper {
    display: flex;
    flex-direction: column;
}

.about-me .personal-wrapper span {
    margin: 5px 0 10px;
    text-transform: uppercase;
    color: #555;
}

.about-me .personal-wrapper strong {
    display: block;
    color: #333;
    margin-bottom: 5px;
}

.about-me .why-me .accordion {
    text-align: left;
    line-height: 1.8;
}

.btn-primary{
	margin-bottom: 10px;
	margin-left: 15px;
}